# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
/*
/*/

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore

!/lovelace/
ui-lovelace.yaml
!packages/

!/appdaemon/
/appdaemon/*
!/appdaemon/apps
!configuration.yaml
!ui-lovelace.yaml
!customize.yaml
!template.yaml
!template_sensor.yaml

!www
www/community
www/js
www/images/platerecognizer


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
!README.md